<template>
  <div>
    <v-container fluid>
      <v-row>
        <v-col cols="12" md="6">
          <h1>{{ formatted_date }} <digital-clock :blink="true" /></h1>
          <br />
          <p>ยอดของเข้า</p>
          <br /><br />
          <p>ยอดของออก</p>
          <br /><br />
          <p>ยอดคงเหลือ</p>
        </v-col>
        <v-col cols="12" md="6" class="pl-0">
          <v-form>
            <div class="header">
              <h1>PRODUCTION No.1</h1>
            </div>
            <br />
            <!-- <div v-if="this.$store.getters.getRegister.Incremented == this.$store.getters.getRegister.Incremented"> -->
            <div class="number1" v-if="this.Queue.Import < 10">
              <h1>0000{{ Queue.Import }}</h1>
              <!-- <v-text-field v-model="Queue.Incremented"></v-text-field>
              <v-btn @click="send">....</v-btn> -->
            </div>
            <div class="number1" v-else-if="this.Queue.Import >= 10">
              <h1>000{{ Queue.Import }}</h1>
            </div>
            <!-- </div> -->
            <br />
            <div class="number2" v-if="this.Queue.Export < 10">
              <h1>0000{{ Queue.Export }}</h1>
              <!-- <v-text-field v-model="Queue.Incremented"></v-text-field> -->
            </div>
            <div class="number2" v-else-if="this.Queue.Export >= 10">
              <h1>000{{ Queue.Export }}</h1>
            </div>
            <br />
            <!-- <div class="number3" v-if="this.Queue.Incremented == ''">
              <h1>000{{ Queue.all }}</h1>
            </div> -->
            <!-- <div class="number3" v-else-if="this.Queue.Incremented != ''">
              <h1>000{{ Queue.Balance }}</h1>
            </div> -->
            <div class="number3" v-if="this.Queue.Balance < 10">
              <h1>0000{{ Queue.Balance }}</h1>
            </div>
            <div class="number3" v-else-if="this.Queue.Balance >= 10">
              <h1>000{{ Queue.Balance }}</h1>
            </div>
          </v-form>
        </v-col>
      </v-row>
    </v-container>
    <Keypress :key-code="38" @success="Incremented1" />
    <Keypress :key-code="40" @success="decrementValue1" />
    <Keypress :key-code="68" @success="reset1" />
    <Keypress :key-code="65" @success="someMethod" />
    <Keypress :key-code="83" @success="decrementValue" />
    <Keypress :key-code="39" @success="reset2" />
    <Keypress :key-code="13" @success="addvalue" />
    <v-dialog v-model="dialog" max-width="290">
      <v-card>
        <v-card-title class="text-h5"> เพิ่มจำนวนสูงสุด </v-card-title>

        <v-card-text>
          <v-text-field label="Outlined" outlined dense></v-text-field>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn color="green darken-1" text @click="dialog = false">
            Disagree
          </v-btn>

          <v-btn color="green darken-1" text @click="dialog = false">
            Agree
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
import DigitalClock from "vue-digital-clock";
// import DigitalNumber from "~/node_modules/digital-clock-vue/src/digital-number.vue";

export default {
  data() {
    return {
      date1: "",
      formatted_date: "",
      d: "",
      Queue: {
        Export: 0,
        Import: 0,
        Balance: 0,
        all: this.$store.getters.getRegister.all,
        Date: this.formatted_date,
      },
      dialog: false,
    };
  },
  components: {
    Keypress: () => import("vue-keypress"),
    DigitalClock,
  },

  created() {
    const months = [
      "ม.ค.",
      "ก.พ.",
      "มี.ค.",
      "เม.ย.",
      "พ.ค.",
      "มิ.ย.",
      "ก.ค.",
      "ส.ค.",
      "ก.ย.",
      "ต.ค.",
      "พ.ย.",
      "ธ.ค.",
    ];
    let current_datetime = new Date();
    this.formatted_date =
      current_datetime.getDate() +
      " " +
      months[current_datetime.getMonth()] +
      " " +
      (current_datetime.getFullYear() + 543);

    this.$axios.get(`http://localhost:8000/api/queue/`).then((res) => {
      // console.log(res);
      this.Queue = res.data.data[0];
      // this.Queue.Export = res.data.data.Export;
      // this.Queue.Balance = res.data.data.Balance;
    });
  },
  methods: {
    addvalue(response) {
      this.dialog = true;
    },
    someMethod(response) {
      // alert("Enter was pressed");

      if (this.Queue.Import != this.Queue.all) {
        this.Queue.Import++;
        if (this.Queue.Balance <= 0) {
          this.Queue.Balance = this.Queue.Import - this.Queue.Export;
        } else {
          this.Queue.Balance = this.Queue.Import - this.Queue.Export;
        }

        // this.Queue.Balance = this.Queue.all;
        // this.Queue.Balance = this.Queue.Balance - this.Queue.Incremented;
        this.$store.dispatch("setRegister", this.Queue);
        let id = this.Queue.id;
        this.$axios
          .patch(
            `http://localhost:8000/api/queue/update/${id}`,
            this.$store.getters.getRegister
          )
          .then((res) => {
            this.$router.push("/");
            // console.log(this.$store.getters.getRegister.Incremented);
          })
          .catch((e) => console.log(e));
      } else {
        this.Queue.Balance = "000";
      }
    },
    decrementValue(response) {
      this.Queue.Import--;
      if(this.Queue.Import != -1){
        this.Queue.Balance--;
      }else{
        this.Queue.Balance = 0;
      }
      
      this.$store.dispatch("setRegister", this.Queue);
      let id = this.Queue.id;
      this.$axios
        .patch(
          `http://localhost:8000/api/queue/update/${id}`,
          this.$store.getters.getRegister
        )
        .then((res) => {
          this.$router.push("/");
        })
        .catch((e) => console.log(e));
      if (this.Queue.Import == -1) {
        this.Queue.Import = 0;
      }
      // if (this.Queue.Balance == this.Queue.all) {
      //   // this.Balance + 1;
      //   // this.Balance++
      //   console.log(this.Queue.all);
      // } else {
      //   this.Queue.Balance++;
      // }
    },
    reset1(response) {
      this.Queue.Import = 0;
      this.Queue.Balance = 0;
      this.$store.dispatch("setRegister", this.Queue);
      let id = this.Queue.id;
      this.$axios
        .patch(
          `http://localhost:8000/api/queue/update/${id}`,
          this.$store.getters.getRegister
        )
        .then((res) => {
          this.$router.push("/");
        })
        .catch((e) => console.log(e));
    },
    Incremented1(response) {
      if (this.Queue.Export < this.Queue.Import) {
        this.Queue.Export++;
        this.Queue.Balance = this.Queue.Import - this.Queue.Export;
        this.$store.dispatch("setRegister", this.Queue);
        let id = this.Queue.id;
        this.$axios
          .patch(
            `http://localhost:8000/api/queue/update/${id}`,
            this.$store.getters.getRegister
          )
          .then((res) => {
            this.$router.push("/");
          })
          .catch((e) => console.log(e));
      } else {
      }
      if (this.Queue.Balance <= 0) {
        this.Queue.Balance = 0;
        // this.Queue.Export = 0;
      } else {
        this.Queue.Balance = this.Queue.Import - this.Queue.Export;
      }
    },
    decrementValue1(response) {
      if (this.Queue.Export != 0) {
        this.Queue.Export--;
        this.Queue.Balance = this.Queue.Import - this.Queue.Export;
        this.$store.dispatch("setRegister", this.Queue);
        let id = this.Queue.id;
        this.$axios
          .patch(
            `http://localhost:8000/api/queue/update/${id}`,
            this.$store.getters.getRegister
          )
          .then((res) => {
            this.$router.push("/");
            // console.log(this.$store.getters.getRegister.Incremented);
          })
          .catch((e) => console.log(e));
      }
      if (this.Queue.Export == -1) {
        this.Queue.Export = 0;
      }
    },
    reset2(response) {
      this.Queue.Export = 0;
      this.Queue.Balance = 0
      this.$store.dispatch("setRegister", this.Queue);
      let id = this.Queue.id;
      this.$axios
        .patch(
          `http://localhost:8000/api/queue/update/${id}`,
          this.$store.getters.getRegister
        )
        .then((res) => {
          this.$router.push("/");
        })
        .catch((e) => console.log(e));
    },
  },
};
</script>
<style lang="scss" scoped>
h1 {
  font-size: 70px;
  font-weight: bold;
  padding-left: 10px;
}
p {
  font-size: 100px;
  padding-left: 10px;
}
.header {
  width: 100% !important;
  background-color: rgb(241, 231, 169);
  h1 {
    width: 100vh !important;
    // font-size: 150px;
  }
}
.number1 {
  background-color: #000000;
  h1 {
    font-family: "digital";
    font-size: 120px !important;
    color: rgb(233, 138, 55);
    padding-left: 50px;
  }
}
.number2 {
  background-color: #000000;
  h1 {
    font-family: "digital";
    font-size: 120px !important;
    color: red;
    padding-left: 50px;
  }
}
.number3 {
  background-color: #000000;
  h1 {
    font-family: "digital";
    font-size: 120px !important;
    color: rgb(241, 239, 66);
    padding-left: 50px;
  }
}
@media screen and (max-width: 900px) {
  .header {
    width: 100vw !important;
    background-color: rgb(241, 231, 169);
    h1 {
      width: 100vh !important;
      font-size: 40px;
    }
  }
  .number1 {
    width: 100vw !important;
    h1 {
      font-size: 100px !important;
      padding-left: 30px;
    }
  }
  .number2 {
    width: 100vw !important;
    h1 {
      font-size: 100px !important;
      padding-left: 30px;
    }
  }
  .number3 {
    width: 100vw !important;
    h1 {
      font-size: 100px !important;
      padding-left: 30px;
    }
  }
}
</style>